.site-header {
    .site-branding {
         img {
            max-width: 120px;
         }
    }
}

.storefront-primary-navigation {
    position: absolute;
    top: 40px;
    right: 100px;
    width: 80%;
    padding-left: 50px;
    max-width: 1300px;
    @media (max-width: 750px) {
        position: initial;
        width: 100%;
    }
}

.site-search {
    position: absolute;
    right: 400px;
    top: 58px;
    z-index: 9999;
}