.main-hero-cont {
    position: relative;
    text-align: center;
    color: white;
    .hero-overlay {
        position: absolute;
        top: 158px;
        right: 134px;
        max-width: 460px;
        p {
            color: $drk-grey;
            font-weight: 200;
            font-size: 1.3em;
            line-height: 28px;
        }
        .cta {
            font-weight: 600;
            font-weight: 200;
            background-color: $drk-grey;
            color: $white;
            max-width: 205px;
            margin: auto;
            padding: 7px;
            font-size: 1.1em;
        }
    }
}