/*
Theme Name:   Jungle Flora Build
Theme URI:    https://woocommerce.com/storefront/
Description:  Store front Child Theme
Author:       Ben Thomas-Gill
Author URI:   http://www.benthomasgill.com
Template:     storefront
Version:      1.0.0
License:      GNU General Public License v2 or later
License URI:  http://www.gnu.org/licenses/gpl-2.0.html
Text Domain:  storefront
*/
h1, h2, h3, h4, h5 {
  font-family: "Playfair Display", serif; }

p, a {
  font-family: "Roboto", sans-serif; }

.bt-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: wrap;
  flex-direction: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.bt-1-2 {
  width: 50%; }
  @media (max-width: 768px) {
    .bt-1-2 {
      width: 100%; } }

.site-info {
  display: none; }

@media (min-width: 768px) {
  .col-full {
    max-width: 92.498938em;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2.617924em;
    -webkit-box-sizing: content-box;
    box-sizing: content-box; } }

#page .site-header {
  margin-bottom: 0px; }

.main-hero-cont {
  position: relative;
  text-align: center;
  color: white; }
  .main-hero-cont .hero-overlay {
    position: absolute;
    top: 158px;
    right: 134px;
    max-width: 460px; }
    .main-hero-cont .hero-overlay p {
      color: #333333;
      font-weight: 200;
      font-size: 1.3em;
      line-height: 28px; }
    .main-hero-cont .hero-overlay .cta {
      font-weight: 600;
      font-weight: 200;
      background-color: #333333;
      color: #ffffff;
      max-width: 205px;
      margin: auto;
      padding: 7px;
      font-size: 1.1em; }

.foot-text {
  text-align: center;
  font-weight: 200; }

.site-header .site-branding img {
  max-width: 120px; }

.storefront-primary-navigation {
  position: absolute;
  top: 40px;
  right: 100px;
  width: 80%;
  padding-left: 50px;
  max-width: 1300px; }
  @media (max-width: 750px) {
    .storefront-primary-navigation {
      position: initial;
      width: 100%; } }

.site-search {
  position: absolute;
  right: 400px;
  top: 58px;
  z-index: 9999; }
